.mainWraper {width: 400px; height: 100px; border: 1px dashed blue; margin: 30px auto;}
.progressBar {width: 400px; margin: 20px auto; background: #eee; text-align: center; color: #fff;}
.progressBar span {background-color: green; display: block;}