textarea {width: 100%; resize: none; height: 100px; margin-bottom: 20px;}
h2 {text-align: center;}
.noMeetings {text-align: center; text-decoration: underline;}
.meetingWrap li {margin-top: 20px;}
.meetingWrap li span {margin: 0 30px;}
.success {text-align: center; color: green;}
.danger {text-align: center; color: red;}