.listItem {margin-bottom: 10px;}
.danger {color: red; text-align: center;}
.listItem {display: flex; margin-top: 20px; border-bottom: 1px solid #eee;}
.listItem span {margin: 0 30px;}
.success {color: green; text-align: center; margin-right: 20px;}